---
const { title, desc } = Astro.props
---

<div class='service-card-container'>
  <span>
    <h2 class='service-card-title font-medium'>{title}</h2>
    <p class='service-card-desc justify-around'>{desc}</p>
  </span>
</div>

<style>
  .service-card-image{
    margin-right: 30px;
    height: 180px;
  }

  .service-card-container {
    display: flex;
    flex-direction: row;
  }

  .service-card-title {
    font-size: 35px;
  }

  .service-card-desc {
    font-size: 20px;
  }

  @media(max-width: 500px) {
    .service-card-image {
      display: none;
    }
  }
</style>
