---
const { title, img, desc } = Astro.props
---

<div class="product-card-container z-0">
	<a href="http://localhost:5173/login" >
		<h2 class="product-card-title font-semibold m-6 lg:m-10 text-3xl">{title}</h2>
		<img class="product-card-image hidden lg:flex" src={img} alt='fotito'/>
		<p class="product-card-desc lg:text-2xl mx-6 my-5  lg:mx-10 lg:my-8">{desc}</p>
	</a>
</div>

<style>
	.product-card-container {
		background: white;
		border: 2px solid black;
		border-radius: 20px;
		height: 100%;
    transition: ease-out 200ms;
	}

	.product-card-image {
		height: 300px;
		overflow-x: hidden;
	}

	.product-card-container:hover {
		scale: 1.1;
		transition: ease-in 190ms;
	}
</style>
