---
import TeamCard from './teamCard.astro'
import { team } from './Team.js'
---

<div class='teamGrid-container' >
  <h1 class='font-bold text-5xl text-center uppercase'>Nuestro equipo</h1>
  <div class='slider-container'>
    <div class='team-grid-child-container'>
		    {
			    team.map(item => 
			      <TeamCard imgURL={item.imgURL} name={item.name} desc={item.desc} position={item.position}/>
			    )
		    }
	  </div>
  </div>
</div>

<style>

  .teamGrid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orange;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
    padding-top: 50px;
    grid-gap: 20px;
  }


  .slider-container {
    width: 70%;
    overflow: hidden;
  }

  .cardsContainer {
    display: flex;
    flex-direction:row;
  }

  .team-grid-child-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

</style>
