---
import TeamCard from './teamCard.astro'

const team = [
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Dirijo la estrategia general de la empresa, asegurándome de que todos los departamentos trabajen juntos para alcanzar nuestros objetivos a largo plazo.',
    name: 'Zebra',
    position: 'Director ejecutivo'
  },
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Superviso la eficiencia diaria de la empresa, optimizando recursos y mejorando procesos para cumplir con nuestras metas estratégicas.',
    name: 'Zebra',
    position: 'Director de operaciones'
  },
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Me encargo de maximizar los ingresos, alineando las estrategias de ventas, marketing y atención al cliente para impulsar el crecimiento.',
    name: 'Zebra',
    position: 'Director de ingresos'
  },
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Innvo tecnologicamente nuestra empresa, asegurando que nuestra infraestructura sea segura, escalable y competitiva.',
    name: 'Zebra',
    position: 'Director de tecnologia'
  },
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Desarrollo el talento y lidero la transformación organizacional, creando un entorno que fomente el crecimiento y la innovación.',
    name: 'Zebra',
    position: 'Director de talentos y transformacion'
  },
  {
    imgURL: 'https://cdn-icons-png.flaticon.com/512/4042/4042356.png',
    desc: 'Me aseguro de que nuestras operaciones cumplan con las normativas y que estemos bien posicionados en los mercados en los que operamos.',
    name: 'Zebra',
    position: 'Vicepresidente de mercados y regulacion'
  },
]
---

<div class='teamGrid-container'>
  <h1>NUESTRO EQUIPO</h1>
  <div class='cardsContainer'>
    {
    team.map(item => 
      <TeamCard imgURL={item.imgURL} name={item.name} desc={item.desc} position={item.position}/>
    )
    }
  </div>
</div>

<style>
  .teamGrid-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background: orange;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .cardsContainer {
    width: 70%;
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
  }

  .cardsContainer::-webkit-scrollbar {
    height: 10px;
  }
  .cardsContainer::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .cardsContainer::-webkit-scrollbar-thumb {
    background: yellow;
  }
</style>
