---

interface Props {
	imgURL: string;
	desc: string;
	name: string;
	position: string;
}
const { imgURL, desc, name, position } = Astro.props
---

<div class='flex flex-col gap-4 mt-10 items-center justify-center xl:px-60'>
	<div class="flex flex-col items-center justify-center">
	    <label class='card-position'>{position}</label>
	    <label class='card-name'>{name}</label>
	</div>
	<img class='card-image' src={imgURL} alt='fotito'/>
	<p class='card-desc'>{desc}</p>
</div>

<style>
	label {
		@apply font-bold text-center text-2xl;
	}
	img {
		@apply lg:w-[200px] lg:h-[200px];
		
	}

</style>
