---
import TeamCard from './teamCard.astro'
import { team } from './Team.js'
---

<div class='teamGrid-container py-20'>
  <h1 class='font-bold text-5xl'>NUESTRO EQUIPO</h1>
  <div class='slider-container'>
	  <div class='grid grid-cols-1 lg:grid-cols-2'>
		    {
			    team.map(item => 
			      <TeamCard imgURL={item.imgURL} name={item.name} desc={item.desc} position={item.position}/>
			    )
		    }
	  </div>
  </div>
</div>

<style>

  .teamGrid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orange;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .slider-container {
    width: 70%;
    overflow: hidden;
  }

  .cardsContainer {
    display: flex;
    flex-direction:row;
  }



</style>
