---
import AboutUs from "../components/AboutUs.astro";
import TrustInUs from "../components/TrustInUs.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SkillsGrid from '../components/skills/SkillsGrid.astro'
---


<MainLayout title="About">
	<main class="w-full">
	    <TrustInUs title="Sobre Nosotros" />
	    <AboutUs />
	    <hr class="border-black border-2"/>
	    <SkillsGrid/>
	</main>
</MainLayout>
