---
import TeamGrid from '../components/team/teamGrid.astro'
import TrustInUs from "../components/TrustInUs.astro";
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="About">
	<main class="w-full">
		<TrustInUs title="Sobre Nosotros" />

	</main>
</MainLayout>
