---
import MoreAboutUs from "../components/MoreAboutUs.astro";
import TrustInUs from "../components/TrustInUs.astro";
import MainLayout from "../layouts/MainLayout.astro";
import TeamGrid from '../components/team/teamGrid.astro';
---

<MainLayout title="Home - Page">
<main class="w-full">
	<TrustInUs title="Confia en Nosotros" />
	<MoreAboutUs />
	<TeamGrid/>
</main>
</MainLayout>

<!-- <style> -->
<!--   .index-container { -->
<!--     width: 100%; -->
<!--   } -->
<!-- </style> -->

