---
import MoreAboutUs from "../components/MoreAboutUs.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Home - Page">
	<main class="w-full">
		<MoreAboutUs />

	</main>
		
	
</MainLayout>
