---
import MainLayout from '../layouts/MainLayout.astro'
import TrustInUs from '../components/TrustInUs.astro'
import ProductGrid from '../components/products/ProductsGrid.astro'
---

<MainLayout>
  <main class="w-full">
    <TrustInUs title="Nuestros Productos"/>
    <div class="products-container">
      <p class='products-p'>Algunos de nuestros productos mas exitosos</p>
      <ProductGrid/>
    </div>
  </main>
</MainLayout>

<style>
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .products-p {
    text-align: center;
    background: white;
  }
</style>
