---
import MainLayout from '../layouts/MainLayout.astro'
import ServicesGrid from '../components/services/ServicesGrid.astro'
import TrustInUs from "../components/TrustInUs.astro";
---

<MainLayout title="Services">
<main class="w-full">
    <TrustInUs title="Nuestros Servicios"/>
  <div class='services-container py-20'>
		<p class='services-filler-text'>Somos expertos en el desarrollo de soluciones informáticas, contamos con un equipo multidisciplinario con la experiencia necesaria para ayudar a nuestros clientes a conseguir sus objetivos.</p>
    <!--<hr class="hr-about-us"/>-->
		<ServicesGrid/>
	</div>
	</div>
</main>
</MainLayout>

<style>

  .hr-about-us {
    margin-top: 60px;
    width: 90%;
    border: 1px solid black;
  }

	.services-container {
		background: white;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.services-filler-text {
		width: 80%;
		font-size: 30px;
		text-align: center;
	}

	.services-title {
		margin-top: 60px;
		font-size: 50px;
	}

</style>
