---

---

<div class='about-us-div-container'>
<section class="about-us-container bg-white flex flex-col justify-center px-4 gap-5 lg:flex-row lg:px-10 py-10 lg:py-40 2xl:px-96">
	<div class="flex flex-col lg:flex-row items-center lg:max-w-[1000px] 2xl:max-w-[2000px]">
		<div class="flex flex-col gap-5 lg:gap-14">
			<h2>Mision</h2>
			<p>Desarrollar software de alta calidad, personalizado y alineado a las necesidades específicas de nuestros clientes, aprovechando nuestra creatividad y expertise. Nos comprometemos a ofrecer un servicio cercano, ágil y transparente, enfocado en fortalecer la economía digital de nuestra región sin recurrir al outsourcing, asegurando que cada proyecto sea manejado internamente con la dedicación y el cuidado que merece.</p>
			<h2>Vision</h2>
			<p>Ser reconocidos como el equipo de desarrolladores más innovador y confiable de La Paz, Bolivia, creando soluciones tecnológicas que impulsen el crecimiento y la transformación digital de las empresas locales, mientras mantenemos un enfoque humano y cercano con cada cliente.</p>

		</div>

		<img class="hidden lg:flex lg:ml-32 lg:h-[500px] xl:h-[600px]" src="http://www.osbolivia.com/images/nosotros.jpg" alt=""/>
	</div>
</section>
</div>

<style>

  .about-us-container {
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;
  }

  .about-us-div-container {
    width: 100%;
    background: white;
    display: flex;
    place-content: center;
  }

	h2 {
		@apply font-bold text-2xl lg:text-4xl xl:text-5xl;
	}
	p {
		@apply lg:text-2xl;
	}
	
</style>
