---

---

<section class="bg-white flex flex-col py-10 justify-center lg:py-20 px-2 gap-5">
	<h2>Mision</h2>
	<p>Desarrollar software de alta calidad, personalizado y alineado a las necesidades específicas de nuestros clientes, aprovechando nuestra creatividad y expertise. Nos comprometemos a ofrecer un servicio cercano, ágil y transparente, enfocado en fortalecer la economía digital de nuestra región sin recurrir al outsourcing, asegurando que cada proyecto sea manejado internamente con la dedicación y el cuidado que merece.</p>
	<h2>Vision</h2>
	<p>Ser reconocidos como el equipo de desarrolladores más innovador y confiable de La Paz, Bolivia, creando soluciones tecnológicas que impulsen el crecimiento y la transformación digital de las empresas locales, mientras mantenemos un enfoque humano y cercano con cada cliente.</p>

	<img src="http://www.osbolivia.com/images/nosotros.jpg" alt=""/>



</section>

<style>
	h2 {
		@apply font-bold text-2xl;
	}
	
</style>
