---

---
<section class="bg-white flex flex-col pb-10 justify-center lg:py-20">
	<h2 class="font-bold text-center text-3xl p-5 lg:text-5xl lg:p-20">Descubre mas sobre nosotros</h2>
	<div class="lg:flex lg:px-20 lg:items-center lg:gap-4">

		<div>
			<img class="px-2 mb-4 " src="https://m.media-amazon.com/images/S/pv-target-images/6b02fea9ac43358cad762d6d089a3684dc62bee64c72c5f99c5a690e99b5bb89._SX1080_FMjpg_.jpg" alt="">
		</div>


		<div class="flex flex-col gap-6">
			<h3 class="font-bold px-2 text-2xl lg:text-4xl">
				Nos mueve la innovación, la creatividad, la pasión y la determinación.
			</h3>
			<p class="px-2 text-left font-light">
				Somos una empresa de desarrollo de software propio. A diferencia de otras empresas, no somos un proveedor de servicios de outsourcing. Nuestros productos están revolucionando las aplicaciones empresariales en el mercado boliviano.

			</p>

			<p class="px-2 text-left font-light">
				Contamos con un equipo de expertos en tecnología y una amplia experiencia en diferentes sectores, brindamos soluciones innovadoras y de alta calidad para impulsar el éxito de nuestros clientes en un mundo digital en constante evolución.
			</p>

			<p class="px-2 text-left font-light">
				Nuestro enfoque se basa en la colaboración, la excelencia y la entrega de resultados.
			</p>

			<div class="text-center lg:text-left">
				<a class="px-10 py-3 shadow-md border-black border" href="/about">Leer Sobre Nosotros {'>'}</a>
			</div>


		</div>

	</div>


</section>

<style>
	a {
		background-color: orange;
	}

</style>
