---
import BackyardigansIcon from "./svg/BackyardigansIcon.astro";


const tabs =  [
	{
		name: "Inicio",
		href: '/',
	},
	{
		name: "Sobre Nosotros",
		href: '/about',
	},
	{
		name: "Servicios",
		href: '/services',
	},
	{
  name: "Products",
		href: '/products',
	},
]

---
<header class="bg-white py-5 px-6 w-full">
	<nav class="flex flex-col md:flex-row">
		<div class="flex items-center">
			<a href="/" class="font-bold flex items-center text-2xl">
				<BackyardigansIcon />
				Backyardigans S.A
			</a>

			<button id="menu-btn" class="ml-auto md:hidden focus:outline-none">
			    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
			    </svg>
			</button>

		</div>

		<ul id="menu">
			{
			tabs.map(tab => (
				<li>
					<a href={tab.href}>{tab.name}</a>
				</li>
				))
			}
        </ul>
    </nav>
</header>

<script>
	document?.getElementById('menu-btn')?.addEventListener('click', function() {
	const menu = document.getElementById('menu');
	menu?.classList.toggle('open');
    	});
</script>

<style>

ul {
	@apply hidden flex-col md:flex md:flex-row justify-between ml-auto gap-x-6 text-xl mt-5;
}
li {
	@apply border-t border-black py-3;
	@apply md:py-0 md:border-none;
}
a {
	@apply hover:text-slate-500;
}

@media (max-width: 768px) {
	#menu.open {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
</style>
