---

interface Props {
  title: string;
}
const { title } = Astro.props;



---

<section class="flex flex-col py-20 justify-center lg:py-52 px-2">
	<h2 class="text-3xl text-center font-bold lg:text-5xl">{title}</h2>
</section>

<style>

	section {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,223,71,1) 0%, rgba(252,176,69,1) 77%);
	}


</style>

